<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MailManager"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.EditarCliente"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.PdfViewer" />
        <activity android:name=".ui.QrScanner" />
        <activity
            android:name=".ui.Agregar_producto"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.Agregar_usuario"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.Lista_usuarios" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Pantalla_pedido_finalizado" />
        <activity android:name=".ui.Menu_final" />
        <activity
            android:name=".ui.Menu_pedidos"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.Lista_clientes"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.Agregar_cliente"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.Menu_marca" />
        <activity android:name=".ui.Marcas" />
        <activity
            android:name=".ui.Verificador_precio"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.Login" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".services.MailboxService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>